body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:0px;
  width:900px;
  height:125px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:125px;
}
#u1 {
  position:absolute;
  left:2px;
  top:54px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:180px;
  width:200px;
  height:90px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:90px;
}
#u3 {
  position:absolute;
  left:2px;
  top:37px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:740px;
  width:900px;
  height:42px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
}
#u5 {
  position:absolute;
  left:2px;
  top:13px;
  width:896px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:310px;
  top:180px;
  width:690px;
  height:550px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:550px;
}
#u7 {
  position:absolute;
  left:2px;
  top:267px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:138px;
  top:200px;
  width:56px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:204px;
  top:200px;
  width:53px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:138px;
  top:234px;
  width:53px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:204px;
  top:234px;
  width:22px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:100px;
  top:280px;
  width:200px;
  height:450px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:450px;
}
#u17 {
  position:absolute;
  left:2px;
  top:217px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:126px;
  top:360px;
  width:66px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:126px;
  top:406px;
  width:66px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:126px;
  top:454px;
  width:53px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:126px;
  top:314px;
  width:53px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:467px;
  top:224px;
  width:79px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:570px;
  top:221px;
  width:200px;
  height:22px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u28_input:disabled {
  color:grayText;
}
#u29 {
  position:absolute;
  left:467px;
  top:271px;
  width:79px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:570px;
  top:268px;
  width:200px;
  height:22px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u31_input:disabled {
  color:grayText;
}
#u32 {
  position:absolute;
  left:467px;
  top:314px;
  width:77px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:570px;
  top:310px;
  width:200px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35 {
  position:absolute;
  left:467px;
  top:355px;
  width:75px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:570px;
  top:351px;
  width:200px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38 {
  position:absolute;
  left:580px;
  top:415px;
  width:100px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u39 {
  position:absolute;
  left:100px;
  top:135px;
  width:900px;
  height:35px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:35px;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:109px;
  top:140px;
  width:49px;
  height:28px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:180px;
  top:140px;
  width:49px;
  height:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:253px;
  top:140px;
  width:97px;
  height:28px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:360px;
  top:140px;
  width:97px;
  height:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:483px;
  top:140px;
  width:49px;
  height:28px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
