body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:0px;
  width:900px;
  height:125px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:125px;
}
#u1 {
  position:absolute;
  left:2px;
  top:54px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:390px;
  width:710px;
  height:388px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:388px;
}
#u3 {
  position:absolute;
  left:2px;
  top:186px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:820px;
  top:390px;
  width:180px;
  height:388px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:388px;
}
#u5 {
  position:absolute;
  left:2px;
  top:186px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:820px;
  top:180px;
  width:180px;
  height:200px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:200px;
}
#u7 {
  position:absolute;
  left:2px;
  top:92px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:881px;
  top:220px;
  width:110px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:828px;
  top:224px;
  width:53px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:881px;
  top:275px;
  width:110px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:828px;
  top:279px;
  width:52px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:840px;
  top:330px;
  width:100px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:950px;
  top:334px;
  width:27px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:110px;
  top:576px;
  width:150px;
  height:100px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u18 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:180px;
  top:686px;
  width:40px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:180px;
  top:702px;
  width:66px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:180px;
  top:718px;
  width:28px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:290px;
  top:576px;
  width:150px;
  height:100px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u26 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:360px;
  top:686px;
  width:40px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:360px;
  top:702px;
  width:66px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:360px;
  top:718px;
  width:28px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:470px;
  top:576px;
  width:150px;
  height:100px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u34 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:540px;
  top:686px;
  width:40px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:540px;
  top:702px;
  width:66px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:540px;
  top:718px;
  width:28px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:650px;
  top:576px;
  width:150px;
  height:100px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u42 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:720px;
  top:686px;
  width:40px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:720px;
  top:702px;
  width:66px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:720px;
  top:718px;
  width:28px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:128px;
  top:686px;
  width:40px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:128px;
  top:702px;
  width:40px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:128px;
  top:718px;
  width:40px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:310px;
  top:686px;
  width:40px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:310px;
  top:702px;
  width:40px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:310px;
  top:718px;
  width:40px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:490px;
  top:686px;
  width:40px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:490px;
  top:702px;
  width:40px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:490px;
  top:718px;
  width:40px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:670px;
  top:686px;
  width:40px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:670px;
  top:702px;
  width:40px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:670px;
  top:718px;
  width:40px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:828px;
  top:416px;
  width:97px;
  height:28px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:828px;
  top:460px;
  width:163px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:828px;
  top:486px;
  width:163px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:828px;
  top:510px;
  width:163px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:828px;
  top:536px;
  width:163px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:828px;
  top:562px;
  width:163px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:828px;
  top:588px;
  width:163px;
  height:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:828px;
  top:614px;
  width:163px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:828px;
  top:640px;
  width:163px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:828px;
  top:666px;
  width:163px;
  height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:828px;
  top:692px;
  width:163px;
  height:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:828px;
  top:718px;
  width:163px;
  height:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:100px;
  top:788px;
  width:900px;
  height:42px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:42px;
}
#u98 {
  position:absolute;
  left:2px;
  top:13px;
  width:896px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:340px;
  top:744px;
  width:100px;
  height:25px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u100 {
  position:absolute;
  left:468px;
  top:744px;
  width:100px;
  height:25px;
}
#u100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u101 {
  position:absolute;
  left:100px;
  top:135px;
  width:900px;
  height:35px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:35px;
}
#u102 {
  position:absolute;
  left:2px;
  top:10px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:109px;
  top:140px;
  width:49px;
  height:28px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:180px;
  top:140px;
  width:49px;
  height:28px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:253px;
  top:140px;
  width:97px;
  height:28px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:360px;
  top:140px;
  width:97px;
  height:28px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:483px;
  top:140px;
  width:49px;
  height:28px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:110px;
  top:403px;
  width:150px;
  height:100px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u114 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:180px;
  top:513px;
  width:40px;
  height:16px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:180px;
  top:529px;
  width:66px;
  height:16px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:180px;
  top:545px;
  width:28px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:290px;
  top:403px;
  width:150px;
  height:100px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u122 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:360px;
  top:513px;
  width:40px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:360px;
  top:529px;
  width:66px;
  height:16px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:360px;
  top:545px;
  width:28px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:470px;
  top:403px;
  width:150px;
  height:100px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u130 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:540px;
  top:513px;
  width:40px;
  height:16px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:540px;
  top:529px;
  width:66px;
  height:16px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:540px;
  top:545px;
  width:28px;
  height:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:650px;
  top:403px;
  width:150px;
  height:100px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u138 {
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:720px;
  top:513px;
  width:40px;
  height:16px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:720px;
  top:529px;
  width:66px;
  height:16px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:720px;
  top:545px;
  width:28px;
  height:16px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:100px;
  top:178px;
  width:710px;
  height:202px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:202px;
}
#u146 {
  position:absolute;
  left:2px;
  top:93px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:109px;
  top:185px;
  width:341px;
  height:159px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:159px;
}
#u148 {
  position:absolute;
  left:2px;
  top:72px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:460px;
  top:185px;
  width:341px;
  height:159px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:159px;
}
#u150 {
  position:absolute;
  left:2px;
  top:72px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:200px;
  top:354px;
  width:140px;
  height:16px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:550px;
  top:354px;
  width:140px;
  height:16px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
