<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WsshFactory</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.wf.listen.DBListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.wf.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacadeServlet</display-name>
    <servlet-name>FacadeServlet</servlet-name>
    <servlet-class>com.wf.servlet.FacadeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacadeServlet</servlet-name>
    <url-pattern>/FacadeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FactoryServlet</display-name>
    <servlet-name>FactoryServlet</servlet-name>
    <servlet-class>com.wf.servlet.FactoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FactoryServlet</servlet-name>
    <url-pattern>/FactoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreOperatorServlet</display-name>
    <servlet-name>StoreOperatorServlet</servlet-name>
    <servlet-class>com.wf.servlet.StoreOperatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreOperatorServlet</servlet-name>
    <url-pattern>/StoreOperatorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.wf.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PriceServlet</display-name>
    <servlet-name>PriceServlet</servlet-name>
    <servlet-class>com.wf.servlet.PriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriceServlet</servlet-name>
    <url-pattern>/PriceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderinfoServlet</display-name>
    <servlet-name>OrderinfoServlet</servlet-name>
    <servlet-class>com.wf.servlet.OrderinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderinfoServlet</servlet-name>
    <url-pattern>/OrderinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtoChannelServlet</display-name>
    <servlet-name>OtoChannelServlet</servlet-name>
    <servlet-class>com.wf.servlet.OtoChannelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtoChannelServlet</servlet-name>
    <url-pattern>/OtoChannelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeServlet</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>com.wf.servlet.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/NoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PriceAndNoticeServlet</display-name>
    <servlet-name>PriceAndNoticeServlet</servlet-name>
    <servlet-class>com.wf.servlet.PriceAndNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriceAndNoticeServlet</servlet-name>
    <url-pattern>/PriceAndNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddClothesServlet</display-name>
    <servlet-name>AddClothesServlet</servlet-name>
    <servlet-class>com.wf.servlet.AddClothesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClothesServlet</servlet-name>
    <url-pattern>/AddClothesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FdeOrderDealServlet</display-name>
    <servlet-name>FdeOrderDealServlet</servlet-name>
    <servlet-class>com.wf.servlet.FdeOrderDealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FdeOrderDealServlet</servlet-name>
    <url-pattern>/FdeOrderDealServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FdeOrderSendServlet</display-name>
    <servlet-name>FdeOrderSendServlet</servlet-name>
    <servlet-class>com.wf.servlet.FdeOrderSendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FdeOrderSendServlet</servlet-name>
    <url-pattern>/FdeOrderSendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderIDServlet</display-name>
    <servlet-name>OrderIDServlet</servlet-name>
    <servlet-class>com.wf.servlet.OrderIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderIDServlet</servlet-name>
    <url-pattern>/OrderIDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdaOrderStaeServlet</display-name>
    <servlet-name>UpdaOrderStaeServlet</servlet-name>
    <servlet-class>com.wf.servlet.UpdaOrderStaeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdaOrderStaeServlet</servlet-name>
    <url-pattern>/UpdaOrderStaeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestCBServlet</display-name>
    <servlet-name>TestCBServlet</servlet-name>
    <servlet-class>com.wf.servlet.TestCBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestCBServlet</servlet-name>
    <url-pattern>/TestCBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FdOrStaTwoServlet</display-name>
    <servlet-name>FdOrStaTwoServlet</servlet-name>
    <servlet-class>com.wf.servlet.FdOrStaTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FdOrStaTwoServlet</servlet-name>
    <url-pattern>/FdOrStaTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FdOrStaThreeServlet</display-name>
    <servlet-name>FdOrStaThreeServlet</servlet-name>
    <servlet-class>com.wf.servlet.FdOrStaThreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FdOrStaThreeServlet</servlet-name>
    <url-pattern>/FdOrStaThreeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonServlet</display-name>
    <servlet-name>PersonServlet</servlet-name>
    <servlet-class>com.wf.servlet.PersonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonServlet</servlet-name>
    <url-pattern>/PersonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpDatePagesServlet</display-name>
    <servlet-name>UpDatePagesServlet</servlet-name>
    <servlet-class>com.wf.servlet.UpDatePagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpDatePagesServlet</servlet-name>
    <url-pattern>/UpDatePagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OpenOrderPagServlet</display-name>
    <servlet-name>OpenOrderPagServlet</servlet-name>
    <servlet-class>com.wf.servlet.OpenOrderPagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenOrderPagServlet</servlet-name>
    <url-pattern>/OpenOrderPagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZhiDinOpreaterServlet</display-name>
    <servlet-name>ZhiDinOpreaterServlet</servlet-name>
    <servlet-class>com.wf.servlet.ZhiDinOpreaterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZhiDinOpreaterServlet</servlet-name>
    <url-pattern>/ZhiDinOpreaterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FactoryDrderDealServlet</display-name>
    <servlet-name>FactoryDrderDealServlet</servlet-name>
    <servlet-class>com.wf.servlet.FactoryDrderDealServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FactoryDrderDealServlet</servlet-name>
    <url-pattern>/FactoryDrderDealServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FactoryStaTwoServlet</display-name>
    <servlet-name>FactoryStaTwoServlet</servlet-name>
    <servlet-class>com.wf.servlet.FactoryStaTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FactoryStaTwoServlet</servlet-name>
    <url-pattern>/FactoryStaTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FactoryOrderSendServlet</display-name>
    <servlet-name>FactoryOrderSendServlet</servlet-name>
    <servlet-class>com.wf.servlet.FactoryOrderSendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FactoryOrderSendServlet</servlet-name>
    <url-pattern>/FactoryOrderSendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FactoryStaThreeServlet</display-name>
    <servlet-name>FactoryStaThreeServlet</servlet-name>
    <servlet-class>com.wf.servlet.FactoryStaThreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FactoryStaThreeServlet</servlet-name>
    <url-pattern>/FactoryStaThreeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BouoCustServlet</display-name>
    <servlet-name>BouoCustServlet</servlet-name>
    <servlet-class>com.wf.servlet.BouoCustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BouoCustServlet</servlet-name>
    <url-pattern>/BouoCustServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompleteOrderCustServlet</display-name>
    <servlet-name>CompleteOrderCustServlet</servlet-name>
    <servlet-class>com.wf.servlet.CompleteOrderCustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteOrderCustServlet</servlet-name>
    <url-pattern>/CompleteOrderCustServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyCustServlet</display-name>
    <servlet-name>CompanyCustServlet</servlet-name>
    <servlet-class>com.wf.servlet.CompanyCustServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyCustServlet</servlet-name>
    <url-pattern>/CompanyCustServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressUpdateServlet</display-name>
    <servlet-name>AddressUpdateServlet</servlet-name>
    <servlet-class>com.wf.servlet.AddressUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressUpdateServlet</servlet-name>
    <url-pattern>/AddressUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyFactoryServlet</display-name>
    <servlet-name>CompanyFactoryServlet</servlet-name>
    <servlet-class>com.wf.servlet.CompanyFactoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyFactoryServlet</servlet-name>
    <url-pattern>/CompanyFactoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingCarServlet</display-name>
    <servlet-name>ShoppingCarServlet</servlet-name>
    <servlet-class>com.wf.servlet.ShoppingCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCarServlet</servlet-name>
    <url-pattern>/ShoppingCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompleteCustPageServlet</display-name>
    <servlet-name>CompleteCustPageServlet</servlet-name>
    <servlet-class>com.wf.servlet.CompleteCustPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteCustPageServlet</servlet-name>
    <url-pattern>/CompleteCustPageServlet</url-pattern>
  </servlet-mapping>
</web-app>