body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:260px;
  top:30px;
  width:400px;
  height:320px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:320px;
}
#u1 {
  position:absolute;
  left:2px;
  top:152px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:308px;
  top:50px;
  width:303px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:390px;
  top:190px;
  width:200px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:328px;
  top:195px;
  width:52px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:390px;
  top:225px;
  width:200px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:328px;
  top:230px;
  width:52px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:350px;
  top:270px;
  width:100px;
  height:16px;
}
#u11 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12 {
  position:absolute;
  left:460px;
  top:270px;
  width:100px;
  height:16px;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:410px;
  top:305px;
  width:100px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
